.altPageContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
}

.container {
    width: 80%;
    padding: 2.5rem;
    background: var(--primary-blue-color);
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    border-radius: 1rem;
    max-height: max-content;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }