.container {
    background-color: var(--primary-red-color);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
}

.container h2 {
    text-align: left;
    padding: .5rem 0;
}