.container {
    background-color: var(--primary-blue-color);
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.container h2 {
    text-align: center;
    padding: .5rem 0;
}

.rowContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    /*max-height: 20rem;
    overflow: scroll;*/
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}