.container {
    background-color: var(--primary-green-color);
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.leftContainer {}

.leftContainer h2 {
    padding: .5rem 0;
}

.leftContainer p {
    padding: 0 0 1rem;
}

.bottomContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}