.container {
    width: 90%;
    background-color: var(--primary-orange-color);
    border-radius: 1rem;
    padding: 0.5rem;
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}