.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 2rem;
    margin-bottom: 2rem;

}

/* MENU */

/* left side menu layout */

.headerLeft {
    display: flex;
    align-items: center;
    gap: .7rem;
}

/* right side menu layout */

.headerRight {
    display: flex;
    align-items: center;
    gap: .7rem;
}

.link {
    color: var(--primary-black-color);
    text-decoration: none;

    /* test link animation */
    display: block;
    padding: 5px 0;
    font-size: 1.3rem;
    line-height: 1;
    font-weight: bold;
    position: relative;
    z-index: 1;
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* last property of background-image sets the text color */
    background-image: linear-gradient(to right,
            var(--primary-red-color),
            var(--primary-red-color) 50%,
            var(--primary-black-color) 50%);
    background-size: 200% 100%;
    background-position: -100%;
    transition: all 0.3s ease-in-out;
}

/* Gestion "responsive" de la font-size */
@media screen and (max-width: 1120px) {
    .headerLeft {
        gap: .4rem;
    }

    .headerRight {
        gap: .4rem;
    }

    .link {
        font-size: 1.1rem
    }
}

/* Gestion "responsive" de la font-size */
/*@media screen and (max-width: 960px) {
    .headerLeft {
        gap: .2rem;
    }

    .headerRight {
        gap: .2rem;
    }

    .link {
        font-size: .9rem
    }
}*/

@media screen and (max-width: 950px) {
    .header {
        flex-direction: column;
    }
}

.link:before {
    display: block;
    content: '';
    width: 0;
    height: 3px;
    bottom: 5px;
    left: 0;
    bottom: -3px;
    z-index: 0;
    position: absolute;
    background: var(--primary-red-color);
    transition: all 0.3s ease-in-out;
}

.link:hover,
.link:focus {
    background-position: 0%;
}

.link:hover:before,
.link:focus:before {
    width: 100%;
}

.buttonHeader {
    border: none;
    font-size: 1.2rem;
}

/* Styling current link for left menu */
.active {
    font-weight: bold;
    text-decoration: none;
    color: var(--primary-red-color);
    font-size: 1.5rem;
}

.headerIcon {
    width: 1rem;
    color: var(--primary-black-color);
}

/* Styling trips list */

.tripsContainer ul {
    display: flex;
    flex-direction: column;
}

.tripsContainer:hover .tripsList {
    max-height: inherit;
    opacity: 1;
}

.tripsList {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    max-height: 0px;
    opacity: 0;
    overflow: hidden;
    transition: opacity 300ms ease;
    position: absolute;
}

.voyageNameContainer:hover {
    color: var(--primary-red-color);
    font-size: 1.2rem;
}