.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--primary-blue-color);
    padding: 2.5rem 0;
    width: 80%;
    border-radius: 0.625rem;
    flex-wrap: nowrap;
    gap: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: white;
}

.inputContainer {
    width: 50%;
}

.buttonContainer {
    flex-direction: column;
}

.text {
    text-align: center;
}

