.container {
  width: 80%;
  padding: 2.5rem;
  color: white;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  border-radius: 1rem;
  max-height: max-content;
}

/*Right style */

.rightContainer {
  width: 70%;
  display: flex;
  flex-direction: column;
}

/* Page title*/
.title {
  color: white;
  background-color: var(--primary-red-color);
  border-radius: 1rem;
  height: 40%;
  width: 100%;
  padding: 1rem;
  height: fit-content;
  display: flex;
  align-items: center;
  /* Centrage vertical */
  justify-content: center;
  margin-bottom: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.tripsContainer {
  background-color: var(--primary-blue-color);
  border-radius: 1rem;
  width: 100%;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.tripTitle {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.addContainer {
  display: flex;
  justify-content: center;
}

.addTravel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: var(--primary-orange-color);
  color: white;
  border-radius: 1rem;
  border: 1px solid transparent;
  padding: 1%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.addTravel:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}


/* User part - left */
.leftContainer {
  width: 40%;
  position: relative;
  background: var(--primary-green-color);
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.profilPictureContainer {
  width: 12rem;
  height: 12rem;
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 30%;
  border-radius: 6rem;
  overflow: hidden;
  /*keep the picture inside*/
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  z-index: 1;
  position: relative;
}


.userInfoContainer {
  width: 12rem;
  height: 12rem;
  margin-left: 12%;
  overflow: visible;
  z-index: 1;
  position: relative
}

.backPicture {
  width: 15rem;
  height: 20rem;
  left: 8%;
  overflow: hidden;
  border-radius: 1rem;
  position: absolute;
  bottom: 0.1rem;
  z-index: 0;
}