/*Style for one row */
.row {
    background-color: white;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 2rem;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: .5rem 1rem;
}

.tripName {
    color: var(--primary-black-color);
    margin-right: 1rem;
}

.adminBadge {
    color: white;
    background-color: var(--primary-red-color);
    border-radius: 0.625rem;
    padding: .5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.inviteBadge {
    color: white;
    background-color: var(--primary-green-color);
    border-radius: 0.625rem;
    padding: .5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.goButton {
    background-color: var(--primary-orange-color);
    border-radius: 50%;
    color: white;
    border: none;
    padding: .5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.goButton:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}